/* your style begins here */
body{
	
}

/*----- TOP -----*/
#top-bar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: white;
	border-bottom: 1px solid black;
	z-index: 100;
	padding: 0 10px;

	font-family: Arial;
	font-weight: normal;	
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
}

#top-bar #hamburger  {
  width: 24px;
  height: 15px;
  background-color: black;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#top-bar #hamburger:after, #top-bar #hamburger:before {
  content: "";
  width: 24px;
  height: 3px;
  background-color: #FFF;
  display: block;
  position: absolute;
}
#top-bar #hamburger:before {
  top: 3px;
}
#top-bar #hamburger:after {
  bottom: 3px;
}
/*#top-bar #hamburger:hover,
#top-bar #hamburger:hover {
  background-color: red;
}	*/

/*----- MENU -----*/
#search-div{
	position: fixed;
	left: 0;
	top: 40px;
	padding: 10px;
	width: 200px;
	height: calc(100% - 60px);
	text-align: left;
	overflow-y: scroll;
	overflow-x: hidden;

	border-right: 1px solid black;

	font-family: Arial;
	font-weight: normal;	
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	background-color: rgba(255, 255, 255, 0.85);		
}

#search-div input,
#search-div button{
	border: 1px solid black;
	background-color: white;
	outline: none;	
	padding: 4px 6px;
}

#search-div input{
	background-color: white;
}

#search-div button{
	background-color: black;
	color: white;
}

#search-div .search-options h2{
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid black;
	padding-bottom: 8px;
	text-transform: uppercase;	
}

#search-div .search-options .column{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

#search-div .search-options input[type=checkbox] {
	visibility: hidden;
}

#search-div .search-options .checkbox-container {
	position: relative;
	margin: 6px 0;
	text-indent: -12px;
	padding-left: 12px;
}

#search-div .search-options .checkbox-container span{
	position: relative;
	left: 8px;
}

#search-div .search-options .checkbox-container label {
	cursor: pointer;
	position: absolute;
	width: 13px;
	height: 13px;
	top: 0;
  	left: 0;
	background: white;
	border:1px solid black;
}

#search-div .search-options .checkbox-container input[type=checkbox]:checked + label:after {
	content: '';
	position: absolute;
	width: 7px;
	height: 3px;
	background: transparent;
	top: 3px;
	left: 2px;
	border: 2px solid black;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#search-div .search-options .date-container {
	position: relative;
	margin: 6px 0;
}

#search-div .search-options .selection-buttons{
	background: white;
	border: 1px solid black;
	color: black;
	margin-right: 5px;
}


/*----- RESULTS -----*/
#results-container{
	padding: 40px 20px;
	/*text-align: center;*/
}

.results{
	display: inline-block;
	width: 146px;
	padding-right: 10px;
	/*float: left;*/
	vertical-align: top;

	font-family: Georgia;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	text-align: left;	
}

.results .details{
	color: #888;
	/*border-top: 1px solid #999;*/
}

.results ul{
	padding: 0 0 0 10px;
	list-style: none;
	text-indent: -10px;
}

.results h2{
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid black;
	padding-bottom: 8px;
	text-transform: uppercase;
}

/*----- LOADER -----*/
#loader-container{
	text-align: center;
	top: 50%;
	width: 100%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

#loader-container .loader {
	width: 20px;
	height: 20px;
	border: 3px solid black;
	display: inline-block;
    -webkit-animation: myfirst 1s; /* Chrome, Safari, Opera */
    animation: myfirst 1s;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;    
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    	transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
    	transform: rotate(0deg);
    }
    to {
    	transform: rotate(90deg);
    }
}

/*---------- RESPONSIVE ----------*/
@media screen and (max-width: 800px) {
	#search-div{
		width: calc(100% - 20px);
	}
	.results{
		width: calc(50% - 10px);
	}
}